* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    background: pink;
}

@media screen and (min-width: 800px) {
    body {
        background: orange;
    }
}
